@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background-color: #242424; */
  background-color: white;
  /* color: rgb(2, 2, 255); */
  color: black;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
}
.special-icon-1{
  background-color: rgb(255, 78, 14);
  background-color: orangered !important;
  /* rgba(3, 3, 195, 0.814) */
}
/* For WebKit browsers (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
  width: 12px;
  /* Scrollbar width */
}

*::-webkit-scrollbar-track {
  background-color: black;
  /* Outer part (track) */
}

*::-webkit-scrollbar-thumb {
  background-color: orangered;
  /* Inner button (thumb) */
  border-radius: 100%;
  /* Optional: smooth rounded thumb */
}

